.about-container .darken {
  opacity: 30%;
  max-width: 1440px;
}

.about-content {
  width: 100%;
  max-width: 1023px;
  margin: 20px 20px 20px -20px;
  list-style-type: none;
  .collapse-container {
    padding-bottom: 30px;
    margin: 0;
    .collapse {
      @include flex-relative;
      z-index: 10;
      padding: 10px;
      border-radius: 5px;
      background-color: $color-Kasa-red;
      color: $color-white;
      h2 {
        font-weight: 700;
        font-size: 24px;
        margin-left: 10px;
      }
      .dropdown-arrows {
        margin-right: 10px;
        img {
          width: 32px;
          height: 32px;
          cursor: pointer;
        }
        .arrow-open {
          transform: rotate(0deg);
          transition: transform 500ms ease-in;
        }
        .arrow-close {
          transform: rotate(180deg);
          transition: transform 500ms ease-in;
        }
      }
    }
    .content {
      font-weight: 400;
      font-size: 18px;
      margin: 10px 15px 20px;
      animation: 500ms slideDown;
      @keyframes slideDown {
        0% {
          transform: translateY(-50px);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .collapse-container {
      .collapse {
        padding: 5px;
        h2 {
          font-size: 13px;
        }
        .dropdown-arrows {
          img {
            width: 26px;
            height: 26px;
          }
        }
      }
      .content {
        font-size: 12px;
      }
    }
  }
}
