.tag-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  padding: 20px 0;
  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 20px;
    height: 25px;
    color: $color-white;
    font-weight: 700;
    font-size: 14px;
    background-color: $color-Kasa-red;
    border-radius: 10px;
    // border: 1px solid $color-black;
    // TODO border corners?
  }
  @media only screen and (max-width: 768px) {
    .tag {
      height: 18px;
      font-size: 10px;
      border: none;
    }
  }
}
