ul {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 20px 0;
  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 115px;
    height: 25px;
    color: $color-white;
    font-weight: 700;
    font-size: 14px;
    background-color: $color-Kasa-red;
    border-radius: 10px;
    border: 1px solid $color-black;
    // TODO border corners?
  }
}
