.title-loc-host-container {
  display: flex;
  justify-content: space-between;
  .title-location {
    display: flex;
    flex-direction: column;
    margin: 0;
    .title {
      color: $color-Kasa-red;
      font-weight: 500;
      font-size: 36px;
      margin: 0;
    }
    p {
      font-weight: 500;
      font-size: 18px;
      margin: 0;
    }
  }
  .host-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    margin: 0;
    p {
      // TODO stack name text??
      color: $color-Kasa-red;
      font-weight: 500;
      font-size: 18px;
      text-align: right;
    }
    img {
      height: 64px;
      width: 64px;
      border-radius: 50%;
    }
  }
  @media only screen and (max-width: 768px) {
    .title-location {
      .title {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
    .host-info {
      p {
        font-size: 12px;
      }
      img {
        height: 32px;
        width: 32px;
        border-radius: 50%;
      }
    }
  }
}
