.title-loc-container {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: left;
  margin: 0;
  .title-location {
    display: flex;
    flex-direction: column;
    margin: 0;
    .title {
      color: $color-Kasa-red;
      font-weight: 500;
      font-size: 36px;
      margin: 0;
    }
    p {
      font-weight: 500;
      font-size: 18px;
      margin: 0;
    }
  }

  @media only screen and (max-width: 768px) {
    .title-location {
      .title {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
