.PropertyCardContainer {
  position: relative;
  display: flex;
  align-items: flex-end;
  .PropertyImage {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    object-fit: cover;
    &:hover {
      opacity: 50%;
    }
  }
  p {
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    color: $color-white;
    padding: 10px;
  }
}
