.property-card-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  .property-image {
    @include property-card-shape;
  }
  .linear-gradient {
    position: absolute;
    @include property-card-shape;
    background: linear-gradient(180deg, $color-white, $color-black);
    opacity: 35%;
    &:hover {
      opacity: 25%;
    }
  }
  p {
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    color: $color-white;
    padding: 10px;
  }
  @media only screen and (max-width: 768px) {
    .property-image {
      @include property-card-shape-media;
    }
    .linear-gradient {
      @include property-card-shape-media;
    }
  }
}
