.collapse-container {
  padding-bottom: 30px;
  .collapse {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: $color-Kasa-red;
    color: $color-white;
    margin: 0;
    h2 {
      margin-left: 10px;
    }
    .dropdown-arrows {
      margin-right: 10px;
      img {
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
      .arrow-open {
        transform: rotate(0deg);
        transition: transform 500ms ease-in;
      }
      .arrow-close {
        transform: rotate(180deg);
        transition: transform 500ms ease-in;
      }
    }
  }
  p {
    font-weight: 400;
    font-size: 18px;
    margin: 10px 15px 20px;
    transition: transform 5000ms ease-in;
  }
}
