.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  padding: 50px 20px;
  a,
  .nav {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    .home-link,
    .about-link {
      padding-left: 100px;
      text-decoration: none;
      color: $color-black;
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .nav-container {
    padding: 20px;
    .header-logo {
      width: 145px;
    }
    .nav > a {
      font-size: 12px;
    }
    .nav {
      display: flex;
      align-items: center;
      .home-link,
      .about-link {
        padding-left: 20px;
      }
    }
  }
}
