.NavContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  padding: 50px 0;
  a,
  .nav {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    .homeLink,
    .aboutLink {
      padding-left: 100px;
      text-decoration: none;
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
}
