@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin property-card-shape {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  object-fit: cover;
}

@mixin property-card-shape-media {
  width: 335px;
  height: 225px;
}
