@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin property-card-shape {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  object-fit: cover;
}

@mixin property-card-shape-media {
  max-width: 335px;
  max-height: 225px;
}

@mixin flex-absolute {
  display: flex;
  position: absolute;
}

@mixin flex-relative {
  display: flex;
  position: relative;
}
