@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import "./utils/mixins";
@import "./utils/variables";
@import "./components/banner/banner";
@import "./components/collapse/collapse";
@import "./components/footer/footer";
@import "./components/header/header";
@import "./components/propertyCard/property-card";
@import "./components/propertyCardGallery/gallery";
@import "./pages/about/about-page";
@import "./pages/error/error";
@import "./pages/home/home-page";
@import "./pages/accommodations/accomm-detail-page";
@import "./components/accommodations/carousel";
@import "./components/accommodations/ratings";
@import "./components/accommodations/tags";
@import "./components/accommodations/title-location-host";

* {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  max-width: 1440px;
}
