@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import "./utils/mixins";
@import "./utils/variables";
@import "./components/banner/banner";
@import "./components/collapse/collapse";
@import "./components/footer/footer";
@import "./components/header/header";
@import "./components/propertyCard/propertyCard";
@import "./components/propertyCardGallery/gallery";
@import "./pages/error/error";
@import "./pages/about/aboutPage";

* {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  max-width: 1440px;
}
