.BannerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  .BannerImage {
    position: relative;
    height: 223px;
    width: 1240px;
    border-radius: 25px;
    object-fit: cover;
    border: 1px solid $color-black;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  .darken {
    position: absolute;
    height: 223px;
    width: 1240px;
    border-radius: 25px;
    background-color: $color-black;
    opacity: 60%;
  }
  h1 {
    position: absolute;
    font-weight: 700;
    font-size: 48px;
    color: $color-white;
  }
}
