.gallery-container {
  width: 1240px;
  background: $color-homePage-grey;
  border-radius: 25px;
  margin-bottom: 50px;
  .accommodations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    gap: 40px;
  }
  li::marker {
    color: $color-homePage-grey;
  }
}
