.GalleryContainer {
  width: 1240px;
  height: 829px;
  background: #f6f6f6;
  border-radius: 25px;
  margin-bottom: 50px;
  }
  .accommodations {
    display: flex;
    flex-wrap: wrap;justify-content: center;
    padding: 50px;
    gap: 40px;
  }
